.aboutShop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;

    &__box{
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 80px;
    }

    &__img{
        width: 272px;
        height: 355px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }

    &__content{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__title{
        margin: 0;
        font-size: 24px;
    }

    &__text{
        font-size: 14px;
    }

    &__hr{
        width: 240px;
        height: 1px;
        background-color: black;
    }
}